
 @import "bootstrap-sprockets";
 @import "bootstrap";

 @import "font-awesome-sprockets";
 @import "font-awesome";

body {
  background-image: url(/assets/wood_bg.jpg);
}

.text-brand {
  color: #CF4001;
}
.text-white {
  color: white;
}

.navbar {
  background-color: #CF4001;
}

.header-brand {
  background-color: #CF4001;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  padding: 20px;
}